@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

@layer base {
  nav li {
    @apply p-4 font-bold hover:text-slate-800 cursor-pointer
  }

  button {
    @apply text-slate-100 border-indigo-700 bg-indigo-700
    hover:bg-slate-200 hover:border-black hover:text-indigo-600 rounded-md
  }
}

.bg-hero{
  background: url('./components/hero/images/cloud-img3.jpg') no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .bg-hero{
      background: url('./components/hero/images/cloud-img3.jpg') right no-repeat;
      background-size: cover;
  }
}

.support{
  background: url('./components/hero/images/support3.jpg')  no-repeat;
  background-size: cover;
}

.logo{
  font-family: 'Anybody', cursive;
  font-weight: 700;
}

.logo span{
  font-family: 'Anybody', cursive;
  font-weight: 700;
  color: rgb(46, 43, 226);
}

.social a:hover{
  color: white;
}

.cloud-header span{
  color: rgb(14, 14, 14);
  font-weight: bold;
}

.partners span{
  color: rgb(14, 14, 14);
  font-weight: bold;
}

.about span{
  color: rgb(14, 14, 14);
  font-weight: bold;
}

.about-bg{
  background: url('./components/hero/images/img-4.png') left no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-bottom: 20px;

}
.about-icon{
  background: url('./components/hero/images/img-8.png') left no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-bottom: 20px;
}

.network-bg{
  background: url('./components/hero/images/network.png') left no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-bottom: 20px;
}


li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.contact{
  background: url('./components/hero/images/support2.jpg') center no-repeat;
  background-size: cover;
}

label{
color: white;
}